.container_login
{
	height: 100vh;
	background: linear-gradient(to right, #0062E6, #33AEFF);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_login form
{
	height: 300px;
  width: 100%;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	background: #fafafa;
}
